@{
    ViewData["Title"] = "Restaurant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our restaurant</h1>
    <p>This is our restaurant, the page is currently in development.</p>
</div>
