@{
    ViewData["Title"] = "Restaurant";
    Layout = "_RestaurantLayout";
}

<div class="text-center w-75 align-self-center" style="height: 50vh; background-image: url(img/restaurant/interior.jpg); background-repeat: no-repeat; background-position: center">
    <h1 class="display-4 fw-bold text-dark bg-light bg-opacity-50">Welcome to our restaurant</h1>
    <p class="bg-black">This is our restaurant, the page is currently in development. Design is not final.</p>
</div>
<div class="w-75 d-flex p-5 align-self-center">
    <div class="w-25 p-1 d-flex align-items-center justify-content-center">
        <img class="shadow rounded" src="~/img/restaurant/food.png" width="100%"/>
    </div>
    <div class="w-75 p-5">
        <h2>Great selection of quality food</h2>
        <p class="text-justify">We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. 
            We have a great selection of quality and fresh foods in our private restaurant. Our chefs work hard for your food. Etc...</p>
    </div>
</div>
<div class="w-75 align-self-center d-inline-flex justify-content-around">
    <div class="card m-1 w-25">
        <div class="card-header text-black">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black">
                <p>Very fancy place.</p>
                <footer class="blockquote-footer">Joshua Weissman from <cite title="YouTube">YouTube</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card m-1 w-25">
        <div class="card-header text-black">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black">
                <p>Great tasting food, clean and nice plates with chocolate decals.</p>
                <footer class="blockquote-footer">Drunk István Bárdos from <cite title="The Toilet">The Toilet</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card m-1 w-25">
        <div class="card-header text-black">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card m-1 w-25">
        <div class="card-header text-black">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 text-black">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
</div>