@{
    ViewData["Title"] = "Restaurant";
    Layout = "_RestaurantLayout";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="card text-light bg-dark m-3 border" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="~/img/restaurant/foods/steak.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Steak</h5>
                    <p class="card-text">This Pan-Seared Steak has a garlic rosemary-infused butter.</p>
                    <p class="card-text"><small class="text-muted">Vegan, Low Calorie</small></p>
                    <button class="btn btn-outline-secondary">More information</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark m-3 border" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="~/img/restaurant/foods/salmon.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Steak</h5>
                    <p class="card-text">This Pan-Seared Steak has a garlic rosemary-infused butter.</p>
                    <p class="card-text"><small class="text-muted">Vegan, Low Calorie</small></p>
                    <button class="btn btn-outline-secondary">More information</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div class="card text-light bg-dark m-3 border" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="~/img/restaurant/foods/caviar.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Steak</h5>
                    <p class="card-text">This Pan-Seared Steak has a garlic rosemary-infused butter.</p>
                    <p class="card-text"><small class="text-muted">Vegan, Low Calorie</small></p>
                    <button class="btn btn-outline-secondary">More information</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-light bg-dark m-3 border" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex">
                <img src="~/img/restaurant/foods/macaron.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Steak</h5>
                    <p class="card-text">This Pan-Seared Steak has a garlic rosemary-infused butter.</p>
                    <p class="card-text"><small class="text-muted">Vegan, Low Calorie</small></p>
                    <button class="btn btn-outline-secondary">More information</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/RestaurantMenu.js"></script>