@{
    ViewData["Title"] = "Restaurant";
    Layout = "_RestaurantLayout";
}

<div class="align-self-center">
    <img id="mapsterimage" src="~/img/restaurant/top-view-small.png" usemap="#testmap" />

    <map id="testmap" name="testmap">
        <area id="table1" shape="rect" alt="" title="" coords="109,237,183,322" href="#" target="" />
        <area id="table2" shape="rect" alt="" title="" coords="108,359,182,450" href="#" target="" />
        <area id="table3" shape="rect" alt="" title="" coords="49,251,79,314" href="#" target="" />
        <area id="table4" shape="rect" alt="" title="" coords="49,314,78,383" href="#" target="" />
        <area id="table5" shape="rect" alt="" title="" coords="49,383,78,449" href="#" target="" />
        <area id="table6" shape="rect" alt="" title="" coords="49,472,165,560" href="#" target="" />
        <area id="table7" shape="rect" alt="" title="" coords="247,614,365,704" href="#" target="" />
        <area id="table8" shape="rect" alt="" title="" coords="244,467,357,552" href="#" target="" />
        <area id="table9" shape="rect" alt="" title="" coords="370,615,491,705" href="#" target="" />
        <area id="table10" shape="rect" alt="" title="" coords="415,463,507,560" href="#" target="" />
        <area id="table11" shape="rect" alt="" title="" coords="612,462,683,542" href="#" target="" />
        <area id="table12" shape="rect" alt="" title="" coords="612,380,683,461" href="#" target="" />
        <area id="table13" shape="rect" alt="" title="" coords="720,380,793,461" href="#" target="" />
        <area id="table14" shape="rect" alt="" title="" coords="744,580,787,674" href="#" target="" />
        <area id="table15" shape="rect" alt="" title="" coords="689,580,743,673" href="#" target="" />
        <area id="table16" shape="rect" alt="" title="" coords="637,580,689,673" href="#" target="" />
        <area id="table17" shape="rect" alt="" title="" coords="584,580,637,673" href="#" target="" />
        <area id="table18" shape="rect" alt="" title="" coords="514,580,584,673" href="#" target="" />
        <area id="table19" shape="rect" alt="" title="" coords="514,609,577,673" href="#" target="" />
        <area id="table20" shape="rect" alt="" title="" coords="705,277,791,314" href="#" target="" />
        <area id="table21" shape="rect" alt="" title="" coords="617,277,706,314" href="#" target="" />
        <area id="table22" shape="rect" alt="" title="" coords="735,143,789,246" href="#" target="" />
        <area id="table23" shape="rect" alt="" title="" coords="672,143,736,246" href="#" target="" />
        <area id="table24" shape="rect" alt="" title="" coords="613,143,673,246" href="#" target="" />
        <area id="table25" shape="circle" alt="" title="" coords="526,198,47" href="#" target="" />
    </map>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imagemapster/1.5.4/jquery.imagemapster.min.js"></script>
<script src="~/js/RestaurantTables.js"></script>