@{
    ViewData["Title"] = "Restaurant";
    Layout = "_RestaurantLayout";
}
<div class="d-inline-flex justify-content-around">
    <div class="w-25">
        <div class="card bg-dark text-light border-secondary">
            <div class="card-header border-secondary">
                How to use?
            </div>
            <div class="card-body">
                <p class="card-text">
                    Hover over a table on the image, then click on it to open it's information.
                    <br/><br/>
                    If you have chosen an available table, then click on the "Reserve this table" 
                    button at bottom of the right card to start the reservation process.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <img id="mapsterimage" src="~/img/restaurant/top-view-small.png" usemap="#testmap" />

        <map id="testmap" name="testmap">
            <area id="table-1" shape="rect" alt="" title="" coords="109,237,183,322" href="#" target="" />
            <area id="table-2" shape="rect" alt="" title="" coords="108,359,182,450" href="#" target="" />
            <area id="table-3" shape="rect" alt="" title="" coords="49,251,79,314" href="#" target="" />
            <area id="table-4" shape="rect" alt="" title="" coords="49,314,78,383" href="#" target="" />
            <area id="table-5" shape="rect" alt="" title="" coords="49,383,78,449" href="#" target="" />
            <area id="table-6" shape="rect" alt="" title="" coords="49,472,165,560" href="#" target="" />
            <area id="table-7" shape="rect" alt="" title="" coords="247,614,365,704" href="#" target="" />
            <area id="table-8" shape="rect" alt="" title="" coords="244,467,357,552" href="#" target="" />
            <area id="table-9" shape="rect" alt="" title="" coords="370,615,491,705" href="#" target="" />
            <area id="table-10" shape="rect" alt="" title="" coords="415,463,507,560" href="#" target="" />
            <area id="table-11" shape="rect" alt="" title="" coords="612,462,683,542" href="#" target="" />
            <area id="table-12" shape="rect" alt="" title="" coords="612,380,683,461" href="#" target="" />
            <area id="table-13" shape="rect" alt="" title="" coords="720,380,793,461" href="#" target="" />
            <area id="table-14" shape="rect" alt="" title="" coords="744,580,787,674" href="#" target="" />
            <area id="table-15" shape="rect" alt="" title="" coords="689,580,743,673" href="#" target="" />
            <area id="table-16" shape="rect" alt="" title="" coords="637,580,689,673" href="#" target="" />
            <area id="table-17" shape="rect" alt="" title="" coords="584,580,637,673" href="#" target="" />
            <area id="table-18" shape="rect" alt="" title="" coords="514,580,584,673" href="#" target="" />
            <area id="table-19" shape="rect" alt="" title="" coords="705,277,791,314" href="#" target="" />
            <area id="table-20" shape="rect" alt="" title="" coords="617,277,706,314" href="#" target="" />
            <area id="table-21" shape="rect" alt="" title="" coords="735,143,789,246" href="#" target="" />
            <area id="table-22" shape="rect" alt="" title="" coords="672,143,736,246" href="#" target="" />
            <area id="table-23" shape="rect" alt="" title="" coords="613,143,673,246" href="#" target="" />
            <area id="table-24" shape="rect" alt="" title="" coords="720,461,792,541" href="#" target="" />
            <area id="table-25" shape="circle" alt="" title="" coords="526,198,48" href="#" target="" />
        </map>
    </div>
    <div id="tableDataContainer" class="w-25">
        <div class="card bg-dark text-light border-secondary">
            <div class="card-header border-secondary">
                Table information
            </div>
            <div class="card-body">
                <h5 class="card-title text-success">This table is available for reservation.</h5>
                <p class="card-text">Smaller interior table with 2 seats. Perfect for a quick dinner.</p>
                <p class="card-text">Maximum reservation time is 24 hours.</p>
                <a href="#" class="btn btn-primary">Reserve this table</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imagemapster/1.5.4/jquery.imagemapster.min.js"></script>
<script src="~/js/RestaurantTables.js"></script>