@{
    Layout = "_FinanceLayout";
}

<div class="account-grid-parent">
    <div class="account-grid-left">
        <div class="account-container">
            <div class="account-details">
                <div class="currency-container">
                    <div style="display: flex">
                        <p class="currency-value">N/D</p>
                        <p class="currency-symbol"></p>
                        <div class="dropdown">
                            <p class="dropdown-arrow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: center"></p>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"><span></span> HUF</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">EUR</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="currency-name">N/D</p>
                </div>
                <div class="flag-container">
                    <span class="fi fi-xx"></span>
                </div>
                <div class="account-action-container">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-dark"><i class="fa-solid fa-plus"></i> Add money</button>
                        <button type="button" class="btn btn-dark"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</button>
                        <button type="button" class="btn btn-dark"><i class="fa-solid fa-arrows-rotate"></i> Exchange</button>
                    </div>
                </div>
            </div>
            <h4>Transaction history</h4>
            <div class="transaction-history-container">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        Test transaction card.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="account-grid-right">
        'Detailed transaction view'
    </div>
</div>