@{
    Layout = "_FinanceLayout";
}

<div class="account-grid-parent">
    <div class="account-grid-left">
        <div class="account-container">
            <div class="account-details">
                <div class="currency-container">
                    <p>423 Ft</p>
                </div>
                <div class="flag-container">
                    <span class="fi fi-hu fis"></span>
                </div>
                <div class="account-action-container">
                    <button class="btn-secondary">test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="account-grid-right">
        right
    </div>
</div>