<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finance - Gentlemen's Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GentlemensClub.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="stylesheet" href="/"/>
</head>
<body class="bg-dark text-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark text-light">
        <div class="container-fluid">
            <a class="navbar-brand text-center" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/shared/GC_logo.jpg" alt="Gentlemen's Club logo." width="50%" height="50%">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <p>Johnny Test</p>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <!-- TODO make buttons in this section apper or not depending on logged in status -->
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Logout from bank</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="finance-parent">
            <div class="finance-menu">
                <div class="btn-group-vertical">
                    <a asp-controller="BankAccount" asp-action="Account" class="btn btn-outline-secondary">
                        Accounts
                    </a>
                    <a asp-controller="Card" asp-action="Card" class="btn btn-outline-secondary">
                        Cards
                    </a>
                    <a asp-controller="Stock" asp-action="Stock" class="btn btn-outline-secondary">
                        Stocks
                    </a>
                    <a asp-controller="Crypto" asp-action="Crypto" class="btn btn-outline-secondary">
                        Crypto
                    </a>
                    <a asp-controller="Vault" asp-action="Vault" class="btn btn-outline-secondary">
                        Vaults
                    </a>
                </div>
            </div>
            <div class="finance-container">
                @RenderBody()
            </div>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Gentlemen's Club
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Finance/finance.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>