html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
Finance view
*/
.finance-parent {
    display: flex;
    border: 2px;
    border: white;
}

.finance-menu {
    max-width: 200px;
    margin: 10px;
    padding: 10px;
    border: 10px;
    border: white;
}

.finance-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 10px;
    border: white;
}

.text-justify {
    text-align: justify;
}