@{
    if (User.Identity.IsAuthenticated)
    {
        <li class="navbar-text">
            <span>Logged in as @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
}