@model GentlemensClub.Models.Authentication.LoginCredential
@{
}
<div class="card container p-4 bg-black" style="width: 24rem">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Username"></label>
                <input class="form-control" type="text" asp-for="Username"/>
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input class="form-control" type="password" asp-for="Password"/>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div>
                <input type="submit" class="btn btn-dark" value="Login"/>
            </div>
        </form>
    </div>
</div>