@{
    Layout = "_FinanceLayout";
}

<div class="account-grid-parent">
    <div class="account-grid-left">
        <div class="account-container">
            <div class="account-details">
                <div class="currency-container">
                    <div style="display: flex">
                        <p class="currency-value">N/D</p>
                        <p class="currency-symbol"></p>
                        <div class="dropdown">
                            <p class="dropdown-arrow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="text-align: center"></p>
                            <ul class="dropdown-menu" id="dropdown-menu">
                                <li>
                                    <p class="dropdown-item" data-acronym="HUF"><span></span> HUF</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="currency-name">N/D</p>
                </div>
                <div class="flag-container">
                    <span class="fi fi-xx flag-icon" data-country="xx"></span>
                </div>
                <div class="account-action-container">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-plus"></i> Add money</button>
                        <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</button>
                        <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-arrows-rotate"></i> Exchange</button>
                    </div>
                </div>
            </div>
            <h4>Transaction history</h4>
            <div class="transaction-history-container">
            </div>
        </div>
    </div>
    <div class="account-grid-right" hidden="hidden">
        <i class="fa-solid fa-x" id="transaction-detail-close"></i>
        <div class="mapouter" style="text-align: center; align-content: center">
            <div class="gmap_canvas">
                <iframe width="400" height="300" id="google-map-canvas"
                        src="https://maps.google.com/maps?q=Apple One Apple Park Way Cupertino, CA 95014&t=&z=17&ie=UTF8&iwloc=&output=embed">
                </iframe>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Finance/Bank/BankAccount.js"></script>