@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gentlemen's Club</h1>
</div>


<div class="d-flex flex-row">
    <div id="index-logo-container" class="">
        <a asp-area="" asp-controller="Home" asp-action="Services">
            <img src="~/img/shared/GC_logo_with_name.jpg" alt="Gentlemen's Club logo with company name.">
        </a>
    </div>
</div>