@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gentlemen's Club</h1>
</div>


<div class="d-flex flex-row">
    <div id="index-logo-container" class="">
        <a asp-area="" asp-controller="Home" asp-action="Services">
            <img src="~/img/shared/GC_logo_with_name.jpg" alt="Gentlemen's Club logo with company name.">
        </a>
    </div>

    <div class="d-flex align-items-center" id="index-content">
        <p style="text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>