@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Services</h1>
</div>

<br><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Restaurant</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Restaurant</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Fitness/Wellness</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Fitness/Wellness</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Private healthcare</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Private healthcare page</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Membership</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Membership page</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Bank</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Bank</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card bg-black text-light" style="width: 18rem;">
            <img class="card-img-top" src="~/img/home/Food_vertical.jpg" alt="Food.">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">The finest meals in town, only for those gentlemen who really value the extraordinary.</p>
                <div class="text-center">
                    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Index">Go to Contact page</a>
                </div>
            </div>
        </div>
    </div>

</div>